.ME-textarea, .ME-preview {
  height: 300px;
  width: 100%;
  overflow: auto;
}

#filepicker-drop {
  text-align: center;
  padding: 20px;
  background-color: #F6F6F6;
  border: 1px dashed #666;
  border-radius: 6px;
  margin-bottom: 20px;
}

